@font-face {font-family:'dies';src:url('font.ttf');}
* {margin:0;padding:0;cursor:default;image-rendering:pixelated;}
body, html {background-color:black;overflow:hidden;display:flex;justify-content:center;align-items:center;width:100%;height:100%;
	font-family:dies;}
canvas {height:100% !important;}
span {opacity:0;position:absolute;top:-999px;left:-999px;}